<template>
  <Page class="page">
    <ActionBar class="action-bar" title="Home" />
    <RadSideDrawer>
      <StackLayout ~drawerContent />
      <StackLayout ~mainContent />
    </RadSideDrawer>
  </Page>
</template>
